.student-container {
    width: 400px;
    height: 200px;
    // border: 1px solid black;
    // display: grid;
    padding: 10px;
    margin: 10px;
    
}
.student-card {
    width: 350px;
    height: 200px;
    // border: 1px solid black;
    border: 2px solid #5E946E;
    padding: 10px;
    
    
    .student-card__img img {
        width: 100px;
        border-radius: 10px;
        margin: 10px;
    }
    .student-card__info {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
        
    }
    .student-card__show {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 3px;
    color: #5E946E;
    cursor: pointer;
    }
   
}
